/* Global --------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #000;
}
#cesiumContainer {
    height: 100vh;
}

/* Tool Bar --------------------------------*/
#toolBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    border: solid 1px #444;
    background-color: rgba(40, 40, 40, 0.7);
}
#toolBar .field {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
#toolBar label {
    font-size: 80%;
    color: #fff;
}
#toolBar input {
    accent-color: #66a3d8;
}
